

/* Chat container */
.chat-container {
    display: flex;
    justify-content: center;
    border:none;
    border-radius: 5px;
    height: 70vh; 
    margin-left: 5%;
    margin-right: 5%;
    gap: 20px;
}
  

.users-list {
  width: 30%;
  justify-content: center;
  box-shadow: 0 0 15px black;
  align-items: center;
}

.users-list-head{
  width: 100%;
  height: 8%;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}
  
.users-list h2 {
    font-size: 16px;
    margin-bottom: 10px;
}
  
.users-list ul {
    list-style-type: none;
    padding: 5%;
}
  
.users-list li {
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 4px;
    transition: background-color 0.3s ease;
}
  
.users-list li:hover {
    background-color: transparent;
    box-shadow: 0 0 5px #01c8ef !important;
    max-width: 99%;
}

.users-list li.active {
    background-color: transparent;
    box-shadow: 0 0 10px #52184b;
    color: #fff;
    max-width: 100%;
}

.chat-box {
  width: 70%;
  height: 100%;
  border: none;
  box-shadow: 0 0 15px black;
  border-radius: 4px;
  display: flex;
  flex-direction: column; 
}

.selected-chat-box {
  display: flex;
  flex-direction: column; 
  height: 100%; 
}

.chat-box-head {
  width: 100%;
  height: 7.9%;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: flex-start; 
  display: flex;
  gap: 2%;
}
  
.message-history {
    flex: 1; 
    flex-grow: 1;
    height: auto;
    overflow-y: auto;
    padding-left: 5%;
    padding-right: 5%;
}
.message-history::-webkit-scrollbar {
  width: 0.5em; 
}

.message-history::-webkit-scrollbar-thumb {
  background-color: black; 
  border-radius: 5px; 
}

.message-history::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}
  
.message strong {
    font-weight: bold;
}
  
.message-input{
    display: flex;
    align-items: center; 
    width: 98%;
    height: 7%;
    border-radius: 10px;
    margin-top: auto;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    box-shadow:0 0 10px black;
}


.message-input-field{
  width: 85%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
} 

.message-input-field:focus{
background-color: transparent;
}

.emoji-picker-container {
  position:relative;
  overflow-y:visible;
  bottom: 665%;
  max-height: 200px;
  max-width: max-content;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.add-icon-button{
  width: 5%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
}

.message-send-button{
  width: 10%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
}
  
.no-user-selected {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
  
.no-user-selected p {
    font-size: 16px;
}
  

/* Public */

.public-chat-container{
  justify-content: center;
  border:none;
  border-radius: 5px;
  height: 70vh; 
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}

.public-chat-head{
  height: 9%;
  width: 90%;
  margin-top: 1%;
  margin-left: 5%;
  box-shadow: 0 0 20px #000;
  border-radius: 10px;
  
}
  
.public-chat-box{
    height: 75%;
    width: 90%;
    margin-left: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    overflow-y: scroll;
    box-shadow: 0 0 20px #000;
}

.public-chat-box::-webkit-scrollbar {
  width: 0.5em; 
}

.public-chat-box::-webkit-scrollbar-thumb {
  background-color: black; 
  border-radius: 5px; 
}

.public-chat-box::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}
  
.public-message-input {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    margin-top: auto;
    max-height: 6%;
}

.emoji-picker-container-public{
  position:relative;
  overflow-y:visible;
  max-height: 200px;
  top: 200%;
  max-width: max-content;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 1); 
}
  
.public-message-input input[type="text"] {
  flex: 1;
  padding: 8px;
  border: none;
  box-shadow: 0 0 20px #000;
  border-radius: 4px;
  font-size: 14px;
  width: 80%;
  background-color:transparent;
}
  
.public-message-input button {
  background-color: transparent;
  color: #fff;
  box-shadow: 0 0 20px #000;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  width: 20%;
}
  
.message-bubble {
    max-width: 70%; 
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    word-wrap: break-word;
    display: block; 
    clear: both;
}
  
.sent-bubble {
    float: right;
    background-color: rgba(0, 0, 0, 1); 
    color: white;
    box-shadow: 0 0 2px #026275;
}
  
.received-bubble {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    float: left;
    box-shadow: 0 0 2px #52184b;
}

.userlist-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
}
  
.user-avatar {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    overflow: hidden; 
}
  
.user-avatar img {
    max-width: 100%; 
    height: auto; 
}
  
.user-info {
    background-color: #000;
}

.message-user {
  font-weight:lighter; 
  color: #555;
  size: 1px;
}

