.type-container {
    display: flex;
    justify-content: space-between; 
    background-color: transparent;
    padding: 20px; 
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
}
  
.flex-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px; 
    background-color: transparent; 
    border-radius: 8px; 
    box-shadow: 0 0 4px #57164c; 
    max-width:fit-content;
}

.flex-item.active{
    background-color: transparent; 
    box-shadow: 0 0 10px #01c8ef;
}
  

.flex-item p {
    margin: 0;
    font-weight: bold;
    text-shadow: #e51376;
}
  

.schedule-body{
    background-color: transparent;
}

.schedule-body.active{
    background-color: transparent;
    height: 100vh;
}

.scheduled-body{
    background-color: transparent;
    
}

.scheduled-body.active{
    background-color: transparent;
    height: 100vh;
}

.completed-body{
    background-color: transparent;
    height: 100vh;
}

.completed-body.active{
    background-color: transparent;
    height: 100vh;
}